node_modules
public
.tmp
.sass-cache
.idea
.babelrc
.bowerrc
.buildignore
.DS_Store
.editorconfig
.gitattributes
.jscsrc
.yo-rc.json
.vagrant
client/bower_components
dist
/server/config/local.env.js
npm-debug.log
coverage